.section-padding {
	padding: 10rem 6rem;
}

.white-block {
	position: absolute;
	width: 50%;
	background-color: #fff;
	border-radius: 50%;
	height: calc(50vw * 0.3);
	left: -10px;
	bottom: calc(-1 * ((0.6 * (50vw * 0.3))));
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
