@use "./colors" as *;

.singleCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 3rem;
	color: #000;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0px 0px 5px 0px #003863;
	transition: scale 0.3s;
	position: relative;

	&:hover {
		scale: 1.05;
		cursor: pointer;
	}

	&:hover {
		.trashIcon {
			opacity: 1;
		}
	}
}
.trashIcon {
	position: absolute;
	z-index: 20;
	color: #000;
	font-size: 3rem;
	top: 0.5rem;
	right: 0.5rem;
	padding: 1.5rem;
	opacity: 0;
	transition: opacity 0.15s;
	&:hover {
		font-weight: 700;
	}
}

.title {
	font-size: 3.2rem;
	font-weight: 700;
	text-align: center;
}

.icon {
	margin: 2rem 0;
	font-size: 8rem;
	font-weight: 700;
}

.image {
	width: 80%;
	margin: 2rem 0;
}

.infos {
	font-size: 1.6rem;
	text-align: center;
	line-height: 2rem;
}

.stat {
	font-size: 3.2rem;
	font-weight: 700;
}

.statTitle {
	font-size: 2.6rem;
	text-transform: capitalize;
	font-weight: 700;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.saleString {
	margin-top: 0.5rem;
}

.checkbox {
	margin-top: -0.5rem;
	&:hover {
		cursor: pointer;
	}
}

.input {
	border: none;
	box-shadow: inset 0px 0px 2px 0px $dark-text;
	padding: 0.4rem;
	padding-left: 1rem;
	border-radius: 8px;
	transition: box-shadow 0.15s;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}

	&:focus {
		outline: none;
		box-shadow: inset 0px 0px 4px 0px $dark-text;
	}
}

.submitBtn {
	border: none;
	color: white;
	background: $dark-text;
	letter-spacing: 0.5px;
	border-radius: 50px;
	text-align: center;
	padding: 1rem 2rem;
	align-self: center;
	font-weight: 700;
	margin-top: 0.5rem;
	transition: 0.3s;

	&:hover {
		background-color: inherit;
		color: $dark-text;
		box-shadow: inset 0px 0px 2px 0px $dark-text;
	}
}
